  
.home{
	padding-top :140px;
   
}
.firsth1{
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: bold;
    margin-top: 170px;
}

.firstp{
    font-family: Autoradiographic Rg;
    font-size: 20px;
    max-width: 750px;
    margin-top:80px;
}