<div class="container" style="border: 1px solid rgba(209, 207, 207, 0.877); background-color: rgba(255, 255, 255, 0.932); border-radius: 25px; margin-top: 130px;">
    <h1 style="text-align: center;">Welcome To <b style="color: rgb(21, 149, 231);">P</b>harma <i class="glyphicon glyphicon-plus" style="color: rgb(21, 149, 231);"></i></h1>
    <div class="row">
    <div style="border-bottom: dotted 2px rgb(175, 175, 175);">
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3 style="text-align: center;">Transport falas kudo!</h3>
        </div>
        <div class="col-xs-6">
            <h3 style="text-align: center;">Pershendetje {{ name }}!</h3>
            <h3 style="text-align: center;">Klikoni per te pare listen e produkteve!</h3>
            <button class="btn btn-primary btn-md" style="margin-left: 230px;" (click)="onNavigate()">Shiko Produkte!</button>
        </div>
    </div>
    <br>
    <br>
    </div>
</div>
<app-footer></app-footer>
